@model IEnumerable<LastTask.Models.Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $(".activebtn").click(function () {
            var x = $(this).data("id");
            alert(x)
            $.ajax({
                url: "@Url.Action("EnableActive", "Profiles")",
                type: "POST",
                data: { userid: x, check:0 },
                traditional: true,
                success: function (dataa, errorMessage) {
                    alert(dataa.message)
                }
            });
        });
        $(".deactivebtn").click(function () {
            var x = $(this).data("id");
            alert(x)
        });
    });

</script>


<h2>Index</h2>


<table class="table" id="table22">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.PhoneNumber)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.PhoneNumber)
                </td>
                <td>
                    @if(item.AspNetUser.Status == 0 || item.AspNetUser.Status == null)
                    {
                        <button class="btn btn-default activebtn" data-id="@item.UserId"> Activate </button>
                    }
                    else
                    {
                        <button class="btn btn-danger deactivebtn" data-id="@item.UserId">Deactivate</button>
                    }
                </td>
            </tr>
        }

    </tbody>

    

</table>

